* {
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    height: fit-content;
    margin: 100px 50px 0 360px;
    display: grid;
    border-collapse: collapse;
    border: 2px solid var(--second-color);
    background: var(--therd-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.row {
    font-size: 30px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    transition: 0.25s;
}

.row:hover {
    box-shadow: 2px 2px 10px black;
}

.total_usage {
    justify-content: space-between;
}

.up,
.down,
.dev_id,
.dev_status,
.ip_address,
.mac_address,
.total_usage,
.ram,
.cpu,
.disk,
.speed,
.last_hour,
.file_status,
.transmission,
.user_signing {
    display: flex;
    align-items: center;
    margin: 0 20px;

    h6 {
        margin: 10px;
    }

    h5 {
        color: var(--first-color);
    }
}

.transmission {
    display: flex;
}

.file_status {
    display: flex;

    .succ,
    .error {
        display: flex;
    }
}

.succ {

    h5,
    h6 {
        color: var(--green);
    }
}

.error {

    h5,
    h6 {
        color: var(--red);
    }
}

.act {
    color: var(--green);
}

.bx-tachometer {
    margin: 5px;
}

button {
    background-color: transparent;
    color: var(--first-color);
    box-shadow: -1px -1px 5px black;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 0.75s;
}

button:hover {
    color: var(--red);
    box-shadow: 2px 2px 5px black;
}