* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: fit-content;
    margin: 100px 50px 0 360px;
    display: grid;
    border-collapse: collapse;
    border: 2px solid var(--second-color);
    background: var(--therd-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.row {
    font-size: 30px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    transition: 0.25s;
}

.buttons {

    .mode-btn,
    .lang-btn,
    .logout-btn {
        padding: 10px;
        font-size: large;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        border-radius: 15px;
        border: none;

        i {
            font-size: larger;
        }
    }
}

.row:hover {
    box-shadow: 2px 2px 10px black;
}