.content {
    width: 100%;
    height: fit-content;
    margin: 100px 50px 0 360px;
    display: grid;
    border-collapse: collapse;
    background: var(--therd-color);
    border: 2px solid var(--second-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 50px;
}

iframe {
    width: 100%;
    height: 75vh;
    border: none;
    box-shadow: 0px 0px 10px var(--first-color);
    border-radius: 10px;
}