@import url('../Fonts/sans-serif.css');


.table-wrapper {
    width: 100%;
    height: fit-content;
    margin: 100px 50px 0 360px;
    display: flex;
}

.custom-table {
    height: fit-content;
    width: 100%;
    border: 2px solid var(--second-color);
    background: var(--therd-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: -2;
    border-collapse: separate;
    border-spacing: 10px;

    thead,
    tbody {

        td,
        th {
            border-radius: 20px;
            box-shadow: 2px 2px 5px black;
            background-color: var(--glass);
        }
    }

    .active {
        color: var(--green);
    }

    .inactive {
        color: var(--red);
    }
}

.custom-table th,
.custom-table td {
    height: 30px;
    padding: 14px;
    text-align: center;
}

.custom-table thead {
    color: var(--first-text);
}